.task {
  min-height: 40px;
  border: 2px solid #a7a7a7;
  cursor: grab;
  transition: all 0.3s ease;
}

.taskDND {
  background-color: #eee3e8;
  border-color: #e584b1 #a7a7a7 #a7a7a7 #a7a7a7;
  // border-color: #ffffff;
}
