$small: 600px;
.taskBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 500px;
  background-color: white;
}

@media screen and (max-width: 500px) {
  .taskBlock {
    width: 100%;
  }
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  gap: 10px;
  background-color: white;
  box-shadow: 1px 11px 15px -3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 11px 15px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 11px 15px -3px rgba(0, 0, 0, 0.2);
}
.text {
  max-width: 80%;
  font-weight: 500;
  font-size: 1.5rem;
  @media screen and (max-width: $small) {
    font-size: 1rem;
  }
}
.done {
  span {
    text-decoration: line-through;
  }
}

.labelCheckbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  &:hover .newChecbox {
    border: 2px solid #ccc;
  }
}

.checbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:checked + .newChecbox > .iconCheckbox {
    opacity: 1;
  }
  &:checked + .newChecbox {
    transition: all 0.1s ease;
    background-color: green;
  }
}

.newChecbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  transition: all 0.1s ease;
}
.iconCheckbox {
  width: 100%;
  opacity: 0;
  transition: all 0.1s ease;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  img {
    width: 20px;
    height: 20px;
  }
}
