.addTask {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 100%;
  border: 2px solid #a7a7a7;
  background-color: #ddd4e1;
  color: black;
  transition: all 0.3s ease;
  textarea {
    height: 70%;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    background-color: transparent;
  }
}
.activeAddTask {
  background-color: white;
  border-color: #b9a8c0;
}
.blockBtn {
  display: flex;
  justify-content: end;
  padding: 5px;
  gap: 10px;
}
.button {
  background-color: transparent;
  border: none;
  color: #a59f9f;
  cursor: pointer;
}
