.settingsModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  top: 0px;
  right: -5px;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #d6d6d6;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
  z-index: -1;
}

.colorsSettingBlock,
.colorsSetting {
  width: 100%;
}

.colorsSettingBlock {
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
  padding-top: 5px;
}

.colorBlock {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.noneColorsIcon {
  width: 17px;
}

.colorIcon {
  display: block;
  width: 17px;
  height: 17px;
  border: 10px;
}

.modalActive {
  opacity: 1;
  top: 0px;
  right: -5px;
  z-index: 6;
}

.deleteSetting {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 10px;
  transition: all 0.3s ease;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    background-color: #ca0d0d6b;
  }
  img {
    width: 20px;
    height: auto;
  }
}

.paintMofification {
  position: relative;
}
