.tagsBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.taskTags {
  padding: 5px;
  border-radius: 5px;
}

.addTagBtn {
  padding: 0 5px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #939191;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #e5e5e5;
  }
  &:hover + .textAddTeg {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }
}

.textAddTeg {
  position: relative;
  font-size: 0.9rem;
  left: -30px;
  color: #939191;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: -1;
}
